{% extends 'base.html.twig' %}

{% block title %}Hello studentController!{% endblock %}

{% block body %}
<div class="container">
   <h2 class="text-dark text-center">STUDENT DETAIL</h2>
   <a class="btn btn-outline-primary" href="{{ path('student_add') }}">ADD student</a>
   <table class="table text-center">
      <thead class="thead-dark">
         <tr>
            <th scope="col">Name</th>         
            <th scope="col">DoB</th>
           <th scope="col">Location</th>
           <th scope="col">Major</th>
           <th scope="col">Image</th>
           <th scope="col">Email</th>
           <th scope="col">PhoneNumber</th>
             <th scope="col">Subjects</th>
           
            {% if is_granted('ROLE_ADMIN') %}
            <th>Actions</th>
            {% else %}
            {% endif %}
         </tr>
      </thead>
      <tbody>
          <tr>         
            <td>{{ student.name }}</td>
            <td>{{ student.dob|date('d/m/Y') }}</td>  
            <td>{{student.location}}</td>
            <td>{{student.major}}</td>
            <td>
						<img src="{{ asset('images/student/'~student.image) }}" alt="student image" width="100" height="120">
				</td>
            <td>{{student.email}}</td>
            <td>{{student.phone}}</td>
            <td>
            {% for m in student.subjects %}
							<a href="{{ path('subject_detail', {'id': m.id }) }}">
								{{ m.name }}
							</a>
							<br>
						{% endfor %}
            </td>
            <td> 
            {% if is_granted('ROLE_ADMIN') %}
               <a class="btn btn-info" href="{{ path('student_edit', {'id': student.id }) }}">EDIT</a>
               <a class="btn btn-danger" href="{{ path('student_delete', {'id': student.id }) }}"
               onclick="return confirm('Are you sure to delete this student ?')">
               DELETE</a>
            {% else %}
            {% endif %}
            </td>
         </tr>
       
      </tbody>
   </table>
</div>
{% endblock %}
