{% extends 'base.html.twig' %}

{% block title %}Hello studentController!{% endblock %}

{% block body %}
<div class="container">
   <h4 class="text-primary text-center">student List</h4>
   <a class="btn btn-outline-primary" href="{{ path('student_add') }}">ADD student</a>
   <table class="table table-striped text-center">
      <thead>
         <tr>
           
            <th>Name</th>         
            <th>DoB</th>
           <th>Location</th>
           <th>major</th>
           <th>image</th>
           <th>Email</th>
           <th>PhoneNumber</th>
           <th>Subject</th>
           
            <th>Actions</th>
         </tr>
      </thead>
      <tbody>
    
          <tr>
            
            <td>{{ student.name }}</td>
            <td>{{ student.dob|date('d/m/Y') }}</td>  
            <td>{{student.location}}</td>
            <td>{{student.major}}</td>
            <td>
						<img src="{{ asset('images/student/'~student.image) }}" alt="student image" width="100" height="120">
					</td>
            <td>{{student.email}}</td>
            <td>{{student.phone}}</td>

            <td></td>
            <td>
               
               <a class="btn btn-primary" href="{{ path('student_edit', {'id': student.id }) }}">EDIT</a>
               <a class="btn btn-warning" href="{{ path('student_delete', {'id': student.id }) }}"
               onclick="return confirm('Are you sure to delete this student ?')">
               DELETE</a>
            </td>
         </tr>
       
      </tbody>
   </table>
</div>
{% endblock %}
