{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block nav %} {% endblock %}
{% block body %}
<div class="container text-center" style="width: 20%; padding-top: 50px; border: 1px solid #ccc; border-radius: 15px;">
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
