{% extends 'base.html.twig' %}

{% block title %}Hello teacherController!{% endblock %}

{% block body %}
<div class="container">
   <h4 class="text-primary text-center">teacher List</h4>
   <a class="btn btn-outline-primary" href="{{ path('teacher_add') }}">ADD teacher</a>
   <table class="table table-striped text-center">
      <thead>
         <tr>
           
            <th>Name</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th>DoB</th>
           <th>Subject</th>
            {% if is_granted('ROLE_ADMIN') %}
            <th>Actions</th>
            {% else %}
            {% endif %}
            
         </tr>
      </thead>
      <tbody>
    
          <tr>
            
            <td>{{ teacher.name }}</td>
            <td>{{teacher.email}}</td>
            <td>{{teacher.phone}}</td>
            <td>{{ teacher.dob|date('d/m/Y') }}</td>           
            <td></td>
            <td>
            {% if is_granted('ROLE_ADMIN') %}
               <a class="btn btn-primary" href="{{ path('teacher_edit', {'id': teacher.id }) }}">EDIT</a>
               <a class="btn btn-warning" href="{{ path('teacher_delete', {'id': teacher.id }) }}"
               onclick="return confirm('Are you sure to delete this teacher ?')">
               DELETE</a>
            {% else %}
            {% endif %}
            </td>
         </tr>
       
      </tbody>
   </table>
</div>
{% endblock %}
