{% extends 'base.html.twig' %}

{% block title %}Hello SubjectController!{% endblock %}

{% block body %}
<div class="container">
   <h4 class="text-primary text-center">Subject List</h4>
   <a class="btn btn-outline-primary" href="{{ path('subject_add') }}">ADD subject</a>
   <table class="table table-striped text-center">
      <thead>
         <tr>
           
            <th>Name</th>
            <th>Description</th>
           
           
            <th>Actions</th>
         </tr>
      </thead>
      <tbody>
    
          <tr>
            
            <td>{{ subject.name }}</td>
            <td>{{subject.description}}</td>
            <td>
               
               <a class="btn btn-primary" href="{{ path('subject_edit', {'id': subject.id }) }}">EDIT</a>
               <a class="btn btn-warning" href="{{ path('subject_delete', {'id': subject.id }) }}"
               onclick="return confirm('Are you sure to delete this subject ?')">
               DELETE</a>
            </td>
         </tr>
       
      </tbody>
   </table>
</div>
{% endblock %}
