<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Manager StudentSystem
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
		           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			<!-- CSS only -->
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
		{% endblock %}

		{% block javascripts %}
			<!-- JavaScript Bundle with Popper -->
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
		{% endblock %}
		{% block nav %}
<div>
		<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary container">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="#">Student Managements System</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Manage Student</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{ path('student_index') }}">Add Student</a>
          <a class="dropdown-item" href="{{ path('student_add') }}">View all</a>
        </div>
      </li>
	        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Manage Teacher</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{ path('teacher_index') }}">Add Teacher</a>
          <a class="dropdown-item" href="{{ path('teacher_add') }}">View all</a>
        </div>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Manage Subject</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{ path('subject_index') }}">Add Subject</a>
          <a class="dropdown-item" href="{{ path('subject_add') }}">View all</a>
        </div>
      </li>
	      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Manage Category</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{ path('category_index') }}">Add Category</a>
          <a class="dropdown-item" href="{{ path('category_add') }}">View all</a>
        </div>
      </li>
	  <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
    </ul>
	
    <!-- Links -->
  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->
	</div>
		{% endblock %}
	</head>
	<body>
	   {# tạo 1 section để hiển thị thông báo Flash gửi từ back-end (Controller) #}
		<div class="container col-md-6 mt-3">
			{% for message in app.flashes('Error') %}
				<p class="alert alert-danger">{{ message }}</p>
			{% endfor %}
			{% for message in app.flashes('Success') %}
				<p class="alert alert-primary">{{ message }}</p>
			{% endfor %}
		</div>
		{% block body %}{% endblock %}
	</body>
</html>
